name: Build Custom XBPS
on:
  workflow_dispatch:
    inputs:
      package_name:
        description: 'Which package to build?'
        required: true
        default: 'niri'
        type: choice
        options:
          - niri
          - vesktop
          - zen-browser
          - gpu-screen-recorder

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/void-linux/void-glibc-full:20250616R1
      options: --privileged
      volumes:
        - /dev:/dev

    steps:
      - name: Prepare container
        run: |
          # 1. Setup mirrors
          mkdir -p /etc/xbps.d && cp /usr/share/xbps.d/*-repository-*.conf /etc/xbps.d/
          sed -i 's|repo-default|repo-ci|g' /etc/xbps.d/*-repository-*.conf
          
          # 2. Install requirements
          xbps-install -Syu xbps && xbps-install -yu && xbps-install -y sudo bash git
          
          # 3. Create build user
          useradd -G xbuilder -M builder

      - name: Checkout your template
        uses: actions/checkout@v4
        with:
          path: custom-repo

      - name: Setup void-packages
        run: |
          git clone --depth=1 https://github.com/void-linux/void-packages.git void-packages
          cp -r custom-repo/${{ inputs.package_name }} void-packages/srcpkgs/
          
          # Use etc/conf to override defaults.conf safely
          # This prevents the uid_map error by using the container's own environment
          cat <<EOF > void-packages/etc/conf
          XBPS_CHROOT_CMD=ethereal
          XBPS_ALLOW_CHROOT_BREAKOUT=yes
          EOF
          
          # Ensure masterdir exists so bootstrap doesn't trip
          mkdir -p void-packages/masterdir
          
          chown -R builder:builder .

      - name: Bootstrap and Build
        run: |
          cd void-packages
          # Standard bootstrap to initialize the masterdir
          sudo -Eu builder ./xbps-src binary-bootstrap
          
          # Build the package
          sudo -Eu builder ./xbps-src pkg ${{ inputs.package_name }}

      - name: Upload Result
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.package_name }}-binary
          path: "void-packages/hostdir/binpkgs/**/*.xbps"
