name: Build Custom XBPS
on:
  workflow_dispatch:
    inputs:
      package_name:
        description: 'Which package to build?'
        required: true
        default: 'niri'
        type: choice
        options:
          - niri
          - vesktop
          - zen-browser
          - gpu-screen-recorder

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout your template
        uses: actions/checkout@v4
        with:
          path: custom-repo

      - name: Build in Void Container
        run: |
          # 1. Make current directory accessible to the container
          chmod 777 .
          
          # 2. Run the build in the Void container with fixes
          docker run --rm -v ${PWD}:/home/work voidlinux/voidlinux /bin/sh -c "
            # FIX: Switch to the reliable Fastly Global Mirror immediately
            mkdir -p /etc/xbps.d
            echo 'repository=https://repo-fastly.voidlinux.org/current' > /etc/xbps.d/00-repository-main.conf
            
            # FIX: Sync and install SSL certificates first
            xbps-install -Syu xbps &&
            xbps-install -Sy ca-certificates git base-devel xtools &&
            
            # Clone official packages
            git clone --depth=1 https://github.com/void-linux/void-packages.git /tmp/void-packages &&
            
            # Inject your custom template
            cp -r /home/work/custom-repo/${{ inputs.package_name }} /tmp/void-packages/srcpkgs/ &&
            
            # Build
            cd /tmp/void-packages &&
            ./xbps-src binary-bootstrap &&
            ./xbps-src pkg ${{ inputs.package_name }} &&
            
            # Copy the result out (checking both possible locations)
            (cp hostdir/binpkgs/*.xbps /home/work/ || cp hostdir/binpkgs/*/*.xbps /home/work/)
          "

      - name: Upload Result
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.package_name }}-binary
          path: "**/*.xbps"
