name: Build Custom XBPS
on:
  workflow_dispatch:
    inputs:
      package_name:
        description: 'Which package to build?'
        required: true
        default: 'niri'
        type: choice
        options:
          - niri
          - vesktop
          - zen-browser
          - gpu-screen-recorder

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/void-linux/void-glibc-full:20250616R1
      options: --privileged
      volumes:
        - /dev:/dev

    steps:
      - name: Prepare container
        run: |
          # Setup repositories
          mkdir -p /etc/xbps.d && cp /usr/share/xbps.d/*-repository-*.conf /etc/xbps.d/
          sed -i 's|repo-default|repo-ci|g' /etc/xbps.d/*-repository-*.conf
          
          # Install basic build tools
          xbps-install -Syu xbps && xbps-install -yu && xbps-install -y sudo bash git
          
          # Create builder user
          useradd -G xbuilder -M builder

      - name: Checkout your template
        uses: actions/checkout@v4
        with:
          path: custom-repo

      - name: Setup void-packages
        run: |
          git clone --depth=1 https://github.com/void-linux/void-packages.git void-packages
          cp -r custom-repo/${{ inputs.package_name }} void-packages/srcpkgs/
          
          # Configure etc/conf correctly
          # We use 'ethereal' to avoid the namespace/uid_map issues in GitHub Actions
          echo 'XBPS_CHROOT_CMD=ethereal' >> void-packages/etc/conf
          echo 'XBPS_ALLOW_CHROOT_BREAKOUT=yes' >> void-packages/etc/conf
          
          # Crucial: xbps-src needs a masterdir to exist even in ethereal mode
          mkdir -p void-packages/masterdir
          
          # Fix permissions for the builder user
          chown -R builder:builder .

      - name: Build package
        run: |
          cd void-packages
          
          # Instead of bootstrap-ethereal, we use binary-bootstrap
          # This sets up the environment inside the container
          sudo -Eu builder ./xbps-src binary-bootstrap
          
          # Build your package
          sudo -Eu builder ./xbps-src pkg ${{ inputs.package_name }}

      - name: Upload Result
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.package_name }}-binary
          path: "void-packages/hostdir/binpkgs/**/*.xbps"
