name: Build Custom XBPS

on:
  workflow_dispatch:
    inputs:
      package_name:
        description: 'Package to build (e.g., niri)'
        required: true

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build packages
    runs-on: ubuntu-latest
    permissions:
      contents: write
    container:
      image: ghcr.io/void-linux/void-glibc-full:latest
      options: --privileged
      volumes:
        - /dev:/dev
      env:
        ARCH: 'x86_64'
        BOOTSTRAP: 'x86_64'
        TEST: '1'

    steps:
      - name: Prepare container
        run: |
          # Use Fastly
          REPO="https://repo-fastly.voidlinux.org/current"
          xbps-install -S -R "$REPO" -yu xbps || xbps-install -S -R "$REPO" -yu xbps
          xbps-install -S -R "$REPO" -yu
          xbps-install -S -R "$REPO" -y sudo bash curl git grep
          useradd -G xbuilder -M builder

      - name: Clone Official Void-Packages
        run: |
          git clone --depth=1 https://github.com/void-linux/void-packages.git .
          chown -R builder:builder .

      - name: Checkout Your Custom Templates
        uses: actions/checkout@v4
        with:
          path: custom-templates-temp

      - name: Inject Template
        run: |
          cp -r custom-templates-temp/${{ github.event.inputs.package_name }} srcpkgs/
          mkdir -p etc
          echo "XBPS_CHROOT_CMD=ethereal" >> etc/conf
          echo "XBPS_ALLOW_CHROOT_BREAKOUT=yes" >> etc/conf
          chown -R builder:builder .

      - name: Prepare Masterdir (Void Style)
        run: |
          sudo -Eu builder common/travis/set_mirror.sh
          # This prepare script is what they use to set up the build environment
          sudo -Eu builder common/travis/prepare.sh
          common/travis/fetch-xtools.sh

      - name: Build
        run: |
          # We tell the build script exactly what to build manually
          echo "${{ github.event.inputs.package_name }}" > /tmp/templates
          sudo -Eu builder common/travis/build.sh "$BOOTSTRAP" "$ARCH" "$TEST"

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: "latest-${{ github.event.inputs.package_name }}"
          name: "${{ github.event.inputs.package_name }} - Latest Build"
          files: hostdir/binpkgs/**/*.xbps
          generate_release_notes: true
