name: Build Custom XBPS
on:
  workflow_dispatch:
    inputs:
      package_name:
        description: 'Which package to build?'
        required: true
        default: 'niri'
        type: choice
        options:
          - niri
          - vesktop
          - zen-browser
          - gpu-screen-recorder

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout your template
        uses: actions/checkout@v4
        with:
          path: custom-repo

      - name: Build in Void Container
        run: |
          # 1. Make current directory accessible
          chmod 777 .
          
          # 2. Run everything as ROOT (no su, no user switching)
          docker run --privileged --rm -v ${PWD}:/home/work voidlinux/voidlinux /bin/sh -c "
            # --- SETUP ---
            # Set the reliable mirror
            mkdir -p /etc/xbps.d
            echo 'repository=https://repo-fastly.voidlinux.org/current' > /etc/xbps.d/00-repository-main.conf
            
            # Install dependencies
            xbps-install -Syu xbps &&
            xbps-install -Sy ca-certificates git base-devel xtools bash &&
            
            # Clone official packages
            git clone --depth=1 https://github.com/void-linux/void-packages.git /tmp/void-packages &&
            
            # Inject your custom template
            cp -r /home/work/custom-repo/${{ inputs.package_name }} /tmp/void-packages/srcpkgs/ &&
            
            # --- THE HACK ---
            # Edit xbps-src to allow running as root
            # We change the check 'if [ id -eq 0 ]' to 'if [ 1 -eq 0 ]' so it never triggers
            cd /tmp/void-packages
            sed -i 's/if \[ \"\$(id -u)\" -eq 0 \]; then/if [ 1 -eq 0 ]; then/' xbps-src
            
            # --- BUILD ---
            # Now we can run normally as root!
            ./xbps-src binary-bootstrap &&
            ./xbps-src pkg ${{ inputs.package_name }} &&
            
            # --- CLEANUP ---
            # Copy result out
            cp hostdir/binpkgs/*.xbps /home/work/ 2>/dev/null || \
            cp hostdir/binpkgs/*/*.xbps /home/work/
          "

      - name: Upload Result
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.package_name }}-binary
          path: "**/*.xbps"
