name: Build Custom XBPS
on:
  workflow_dispatch:
    inputs:
      package_name:
        description: 'Which package to build?'
        required: true
        default: 'niri'
        type: choice
        options:
          - niri
          - vesktop
          - zen-browser
          - gpu-screen-recorder

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      # Official Void image used for CI
      image: ghcr.io/void-linux/void-glibc-full:20250616R1
      options: --privileged
      volumes:
        - /dev:/dev

    steps:
      - name: Prepare container
        run: |
          # 1. Setup official CI mirrors
          mkdir -p /etc/xbps.d && cp /usr/share/xbps.d/*-repository-*.conf /etc/xbps.d/
          sed -i 's|repo-default|repo-ci|g' /etc/xbps.d/*-repository-*.conf
          
          # 2. Update and install basic tools
          xbps-install -Syu xbps && xbps-install -yu && xbps-install -y sudo bash git
          
          # 3. Create the official 'builder' user
          useradd -G xbuilder -M builder

      - name: Checkout your template
        uses: actions/checkout@v4
        with:
          path: custom-repo

      - name: Setup void-packages
        run: |
          git clone --depth=1 https://github.com/void-linux/void-packages.git void-packages
          cp -r custom-repo/${{ inputs.package_name }} void-packages/srcpkgs/
          
          # --- THE MAGIC FIX ---
          # Force ethereal mode to prevent the uid_map error
          echo 'XBPS_CHROOT_CMD=ethereal' >> void-packages/etc/conf
          echo 'XBPS_ALLOW_CHROOT_BREAKOUT=yes' >> void-packages/etc/conf
          
          chown -R builder:builder .

      - name: Build package
        run: |
          cd void-packages
          # binary-bootstrap creates the base environment
          sudo -Eu builder ./xbps-src binary-bootstrap
          # pkg builds your specific package
          sudo -Eu builder ./xbps-src pkg ${{ inputs.package_name }}

      - name: Upload Result
        uses: actions/artifact@v4
        with:
          name: ${{ inputs.package_name }}-binary
          path: "void-packages/hostdir/binpkgs/**/*.xbps"
