name: Build Custom XBPS
on:
  workflow_dispatch:
    inputs:
      package_name:
        description: 'Which package to build?'
        required: true
        default: 'niri'
        type: choice
        options:
          - niri
          - vesktop
          - zen-browser
          - gpu-screen-recorder

jobs:
  build:
    runs-on: ubuntu-latest
    # This tells GitHub to run the whole job INSIDE the Void container
    container:
      image: ghcr.io/void-linux/void-glibc-full:20250616R1
      options: --privileged
      volumes:
        - /dev:/dev

    steps:
      - name: Prepare container
        run: |
          # 1. Setup official CI mirrors
          mkdir -p /etc/xbps.d && cp /usr/share/xbps.d/*-repository-*.conf /etc/xbps.d/
          sed -i 's|repo-default|repo-ci|g' /etc/xbps.d/*-repository-*.conf
          
          # 2. Update and install basic tools
          xbps-install -Syu xbps && xbps-install -yu && xbps-install -y sudo bash git
          
          # 3. Create the official 'builder' user with the 'xbuilder' group
          useradd -G xbuilder -M builder

      - name: Checkout your template
        uses: actions/checkout@v4
        with:
          path: custom-repo

      - name: Setup void-packages
        run: |
          # Clone official repo
          git clone --depth=1 https://github.com/void-linux/void-packages.git void-packages
          
          # Inject your custom package
          cp -r custom-repo/${{ inputs.package_name }} void-packages/srcpkgs/
          
          # Set ownership so the builder user can work
          chown -R builder:builder .

      - name: Build package
        run: |
          # Use the official way: sudo -Eu (Preserve Environment)
          cd void-packages
          sudo -Eu builder ./xbps-src binary-bootstrap
          sudo -Eu builder ./xbps-src pkg ${{ inputs.package_name }}

      - name: Upload Result
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.package_name }}-binary
          path: "void-packages/hostdir/binpkgs/**/*.xbps"
