name: Build Custom XBPS
on:
  workflow_dispatch:
    inputs:
      package_name:
        description: 'Which package to build?'
        required: true
        default: 'niri'
        type: choice
        options:
          - niri
          - vesktop
          - zen-browser
          - gpu-screen-recorder

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout your template
        uses: actions/checkout@v4
        with:
          path: custom-repo

      - name: Build in Void Container
        run: |
          chmod 777 .
          # We use --privileged to allow the builder user to mount the masterdir
          docker run --privileged --rm -v ${PWD}:/home/work voidlinux/voidlinux /bin/sh -c "
            # 1. ROOT PHASE: System Setup
            mkdir -p /etc/xbps.d
            echo 'repository=https://repo-fastly.voidlinux.org/current' > /etc/xbps.d/00-repository-main.conf
            xbps-install -Syu xbps &&
            xbps-install -Sy ca-certificates git base-devel xtools sudo bash &&

            # 2. ROOT PHASE: Create User & Permissions
            useradd -m builder
            echo 'builder ALL=(ALL) NOPASSWD: ALL' >> /etc/sudoers
            
            # 3. ROOT PHASE: Prepare Workspace
            git clone --depth=1 https://github.com/void-linux/void-packages.git /home/builder/void-packages
            cp -r /home/work/custom-repo/${{ inputs.package_name }} /home/builder/void-packages/srcpkgs/
            chown -R builder:builder /home/builder/void-packages

            # 4. USER PHASE: Run as 'builder'
            su - builder -c '
              cd void-packages
              # We use sudo for the bootstrap because it needs to mount things
              ./xbps-src binary-bootstrap
              # Run the package build as the user
              ./xbps-src pkg ${{ inputs.package_name }}
            '

            # 5. ROOT PHASE: Export the file
            cp /home/builder/void-packages/hostdir/binpkgs/*.xbps /home/work/ 2>/dev/null || \
            cp /home/builder/void-packages/hostdir/binpkgs/*/*.xbps /home/work/
          "

      - name: Upload Result
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.package_name }}-binary
          path: "**/*.xbps"
