name: Build Custom XBPS

on:
  workflow_dispatch:
    inputs:
      package_name:
        description: 'Package to build (e.g., niri)'
        required: true

jobs:
  build:
    name: Build packages
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/void-linux/void-glibc-full:20250616R1
      options: --privileged
      volumes:
        - /dev:/dev
      env:
        ARCH: 'x86_64'
        BOOTSTRAP: 'x86_64'
        TEST: '1'

    steps:
      - name: Prepare container
        run: |
          mkdir -p /etc/xbps.d && cp /usr/share/xbps.d/*-repository-*.conf /etc/xbps.d/
          sed -i 's|repo-default|repo-ci|g' /etc/xbps.d/*-repository-*.conf
          xbps-install -Syu xbps && xbps-install -yu && xbps-install -y sudo bash curl git grep
          useradd -G xbuilder -M builder

      - name: Clone Official Void-Packages
        run: |
          # Clone into the current directory BEFORE we checkout your custom code
          git clone --depth=1 https://github.com/void-linux/void-packages.git .
          chown -R builder:builder .

      - name: Checkout Custom Templates
        uses: actions/checkout@v4
        with:
          path: custom-templates-temp

      - name: Inject Custom Template
        run: |
          # Move your template from the temp folder into the official srcpkgs/
          cp -r custom-templates-temp/${{ github.event.inputs.package_name }} srcpkgs/
          # Setup ethereal mode to allow building in the container
          mkdir -p etc
          echo "XBPS_CHROOT_CMD=ethereal" >> etc/conf
          echo "XBPS_ALLOW_CHROOT_BREAKOUT=yes" >> etc/conf
          chown -R builder:builder .

      - name: Prepare masterdir (Official)
        run: |
          sudo -Eu builder common/travis/set_mirror.sh
          sudo -Eu builder common/travis/prepare.sh
          # fetch-xtools doesn't need sudo as it's just a download
          common/travis/fetch-xtools.sh

      - name: Build package (Official)
        run: |
          # Tell the official script which package to focus on
          echo "${{ github.event.inputs.package_name }}" > /tmp/templates
          sudo -Eu builder common/travis/build.sh "$BOOTSTRAP" "$ARCH" "$TEST"

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.event.inputs.package_name }}-xbps
          path: hostdir/binpkgs/**/*.xbps
          
- name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: latest-${{ github.event.inputs.package_name }}
          name: "${{ github.event.inputs.package_name }} - Latest Build"
          files: hostdir/binpkgs/**/*.xbps
          generate_release_notes: true
          make_latest: true
