name: Build Custom XBPS

on:
  workflow_dispatch:
    inputs:
      package_name:
        description: 'Package to build'
        required: true
        default: 'niri'

jobs:
  build:
    name: Build packages
    runs-on: ubuntu-latest

    container:
      # Standard official Void builder image
      image: ghcr.io/void-linux/void-glibc-full:20250616R1
      options: --privileged
      volumes:
        - /dev:/dev
      env:
        # Standard build vars
        ARCH: 'x86_64'
        BOOTSTRAP: 'x86_64'
        TEST: '1'

    steps:
      - name: Prepare container
        run: |
          # Official mirror setup
          mkdir -p /etc/xbps.d && cp /usr/share/xbps.d/*-repository-*.conf /etc/xbps.d/
          sed -i 's|repo-default|repo-ci|g' /etc/xbps.d/*-repository-*.conf
          # Official dependency list
          xbps-install -Syu xbps && xbps-install -yu && xbps-install -y sudo bash curl git grep
          useradd -G xbuilder -M builder

      - name: Checkout custom templates
        uses: actions/checkout@v4
        with:
          path: custom-repo

      - name: Clone official void-packages
        run: |
          # We clone the official repo so we have the 'common/travis/' scripts
          git clone --depth=1 https://github.com/void-linux/void-packages.git .
          # Inject your custom template into the official structure
          cp -r custom-repo/${{ github.event.inputs.package_name }} srcpkgs/

      - name: Prepare masterdir (Official Script)
        run: |
          chown -R builder:builder .
          # This runs the official setup logic including binary-bootstrap
          sudo -Eu builder common/travis/set_mirror.sh
          sudo -Eu builder common/travis/prepare.sh
          common/travis/fetch-xtools.sh

      - name: Build and check packages (Official Script)
        run: |
          # We manually tell the script which package changed since we aren't using a PR
          echo "${{ github.event.inputs.package_name }}" > /tmp/templates
          sudo -Eu builder common/travis/build.sh "$BOOTSTRAP" "$ARCH" "$TEST"

      - name: Show files
        run: sudo -Eu builder common/travis/show_files.sh "$BOOTSTRAP" "$ARCH"

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.event.inputs.package_name }}-xbps
          path: hostdir/binpkgs/**/*.xbps
